{% extends 'music/base.html' %}
{% block title %}Livexia{% endblock %}

{% block body%}

    {% if all_albums %}
        <ul>
            {% for album in all_albums %}
                <li><a href="{% url 'music:detail' album.id %}"><img data-src="holder.js/120x120" class="img-thumbnail" alt="120x120" style="width: 120px; height: 120px;" src="{{ album.album_logo }}" data-holder-rendered="true"></br>{{ album.album_title }} - {{ album.artist }}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You don't have any albums</h3>
    {% endif %}


{% endblock %}
